*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  transition: background-color 1s;
}
.no-scroll {
  overflow: hidden;
}
#h1 {
  font-size: 18px;
  text-align: center;
}
.darkmode {
  background-color: #0b1419;
  color: white;
}
.lightmode {
  background-color: #ffffff;
  color: #000;
}
#nav {
  background-color: #ffffff;
}
#nav-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #0b1419;
  color: white;
  height: 100vh;
  flex-direction: column;
  gap: 100px;
  padding: 10px;
  margin-top: 10px;
  width: 50%;
  z-index: 4;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 1fr;
}
#nav-bars {
  margin-right: 25px;
  cursor: pointer;
}
#nav-close {
  margin-right: 25px;
  cursor: pointer;
}
nav div span {
  font-size: 17px;
}
nav ul li {
  list-style: none;
  font-size: 20px;
  padding-right: 10px;
}
nav ul li a {
  text-decoration: none;
  color: light;
}
nav ul li a i {
  padding-right: 10px;
}
.bg-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 20px;
  border-radius: 15px;
  height: auto;
  width: 65%;
  z-index: 1;
  position: absolute;
  top: 150px;
}
.heading {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: black;
}

.close-login {
  text-align: end;
  background-color: transparent;
  border: 0;
  font-size: 20px;
  font-family: arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: font-size 0.3s;
  padding-bottom: 3px;
}
.close-login:hover {
  font-size: 25px;
  color: #716f6f;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.isi {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  margin-top: 30px;
  height: 1.5rem;
  border: none;
  border-bottom: 3px solid #000;
  outline: none;
}
#regis-user {
  width: 100px;
  position: relative;
  font-size: 12px;
  background-color: #51a3fb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#regis-user:hover {
  background-color: rgb(5, 235, 235);
  color: black;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #51a3fb;
  border: 0;
  width: 75px;
  padding: 4px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.btn:hover {
  background-color: rgb(5, 235, 235);
  color: black;
}
.check {
  display: flex;
  margin-top: 15px;
  position: relative;
  left: 53px;
}
.checkbox {
  margin-right: 5px;
  font-size: 100px;
  transform: scale(1.2);
}
.show {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: black;
}
span {
  font-size: 10px;
}
a:hover {
  color: red;
}
#alert {
  text-align: center;
  font-weight: 600;
}
.mendaftar {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.link {
  text-decoration: none;
  color: #51a3fb;
}

.content {
  margin-top: 60px;
  height: 100vh;
  display: grid;
  gap: 17px;
  padding: 20px;
  grid-template-areas:
    'blck blck'
    'hijau hijau'
    'abu abu'
    'kuning biru'
    'cream cream'
    'yewheat yewheat'
    'hitam hitam'
    'ungu ungu';
}

.billie-black {
  grid-area: blck;
}

.billie-black img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.billie-green {
  grid-area: hijau;
}
.billie-green img {
  width: 100%;
  height: auto;
}
.billie-gray {
  grid-area: abu;
}
.billie-gray img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.billie-yellow {
  grid-area: kuning;
  padding-right: 0;
}
.billie-yellow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.billie-blue {
  grid-area: biru;
  padding-left: 0;
}
.billie-blue img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.billie-cream {
  grid-area: cream;
  padding-left: 0;
}
.billie-cream img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.billie-yewheat {
  grid-area: yewheat;
  padding-left: 0;
}
.billie-yewheat img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.billie-2 {
  grid-area: hitam;
  padding-left: 0;
}
.billie-2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.billie-1 {
  grid-area: ungu;
  padding-left: 0;
}
.billie-1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* animation */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.text-blur-out {
  -webkit-animation: text-blur-out 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-blur-out 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

.tracking-in-expand-fwd-top {
  -webkit-animation: tracking-in-expand-fwd-top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd-top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.tracking-out-contract-bck-top {
  -webkit-animation: tracking-out-contract-bck-top 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: tracking-out-contract-bck-top 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes tracking-out-contract-bck-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-500px) translateY(-300px);
    transform: translateZ(-500px) translateY(-300px);
    opacity: 0;
  }
}
@keyframes tracking-out-contract-bck-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-500px) translateY(-300px);
    transform: translateZ(-500px) translateY(-300px);
    opacity: 0;
  }
}

.scale-in-hor-right {
  -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

.scale-out-hor-right {
  -webkit-animation: scale-out-hor-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-hor-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

/* load */
.muter {
  margin-left: 10px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  border-top: 5px solid #000406;
  width: 5px;
  height: 5px;
  z-index: 1;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* modall */
.modal {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  position: absolute;
  top: 150px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 15px;
  height: auto;
  width: 65%;
  overflow: auto;
  background-color: white;
  box-shadow: 14px -8px 25px 16px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
#transparent.no-interaction {
  pointer-events: none;
}
#my-modal {
  pointer-events: auto;
}
.close {
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
  font-size: 35px;
}
.massage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-style: italic;
}
.massage-content {
  font-weight: 600;
  text-align: center;
  width: 100%;
  border: 2px solid rgb(75, 75, 75);
  border-left: 0;
  border-right: 0;
  padding: 5px;
  font-size: 12px;
}
.position-btn {
  display: flex;
  justify-content: end;
}
.close {
  border: 0;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.close:hover {
  color: #676767;
}
.close-btn {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #51a3fb;
  height: 30px;
  border: 0;
  width: 75px;
  padding: 4px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}
.close-btn:hover {
  background-color: rgb(5, 235, 235);
  color: #000;
}
#fakebot {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: absolute;
  top: 150px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 15px;
  height: auto;
  width: 65%;
  overflow: auto;
  background-color: white;
  box-shadow: 14px -8px 25px 16px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
#user-answer {
  border-radius: 10px;
  margin-right: 10px;
  text-align: center;
  width: 60%;
}

#question {
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
}
#send-fakebot {
  border-radius: 10px;
  border: 0;
  width: 60px;
  height: 26px;
  background-color: lightblue;
}
#send-fakebot:hover {
  background-color: rgb(67, 72, 74);
  color: white;
}
@media (min-width: 600px) and (max-width: 1024px) {
  #h1 {
    font-size: 26px;
  }
  nav {
    padding: 20px;
  }
  #nav-bars {
    padding-right: 20px;
  }
  #nav-close {
    padding-right: 20px;
  }
  nav div span {
    font-size: 25px;
  }
  nav ul li {
    font-size: 25px;
    padding-right: 13px;
  }
  #nav-menu {
    width: 50%;
    align-items: center;
  }
  #question {
    font-size: 20px;
  }
  .border {
    width: 40%;
  }
  .check {
    position: relative;
    left: 69px;
  }
  .h2 {
    font-size: 25px;
    text-transform: uppercase;
  }
  .close-login {
    font-size: 25px;
    padding-bottom: 5px;
  }
  .close-login:hover {
    font-size: 30px;
  }
  .content {
    margin-top: 80px;
    grid-template-areas:
      'blck blck'
      'hijau abu'
      'kuning biru'
      'cream cream'
      'yewheat hitam'
      'ungu ungu'
      'ungu ungu';
  }
}
@media screen and (min-width: 1025px) {
  #nav-bars {
    display: none;
  }
  #h1 {
    font-size: 33px;
  }
  #nav-menu {
    background-color: #ffffff;
    color: black;
    position: static;
    left: 0;
    top: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 10px 20px;
    margin-top: 0;
    width: auto;
    z-index: 1;
    align-items: center;
  }
  nav div {
    display: flex;
    align-items: center;
  }
  nav div span {
    font-size: 25px;
  }
  nav ul {
    display: flex;
    gap: 100px;
  }
  nav ul li a {
    cursor: pointer;
  }

  nav ul li a i {
    font-size: 15px;
    padding-right: 5px;
    position: relative;
    bottom: 2px;
  }
  nav ul li a {
    transition: font-size 0.5s;
  }
  nav ul li a:hover {
    font-size: 23px;
  }
  #user-answer {
    width: 400px;
  }

  #send-fakebot {
    width: 100px;
    height: 30px;
  }
  #question {
    font-size: 23px;
  }
  .border {
    width: 40%;
  }
  .isi {
    width: 70%;
  }
  .btn {
    width: 90px;
    height: 30px;
    font-size: 13px;
  }
  span {
    font-size: 20px;
  }
  .check {
    position: relative;
    left: 93px;
  }
  .modal {
    width: 40%;
  }
  .h2 {
    font-size: 25px;
  }
  .close-login {
    font-size: 25px;
    padding-bottom: 5px;
  }
  .close-login:hover {
    font-size: 30px;
  }
  .content {
    margin-top: 80px;
    grid-template-areas:
      'blck blck hijau'
      'blck blck abu'
      'kuning biru abu'
      'yewheat cream cream'
      'hitam hitam ungu';
  }
}
